<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/styles/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="bg-zinc-900 w-full h-screen text-white">
      <h1>Notes App</h1>
      <form action="/create" method="post">
        <input type="text" name="username" >
      </form>
    </div>
  </body>
</html>
